@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  color: black;
  font-family: 'Nunito', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.column {
  padding: 5px;
}

.card {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  color: black;
}

button, select, span, input {
  padding: 15px;
  color: black;
  margin: 10px;
  font-family: 'Nunito', sans-serif;
}

select {
  margin: 10px 0;
}

.select select:active, .select select:focus, .is-danger.input:active {
  border-color:#f14668;
  box-shadow: none;
}

select {
  font-weight: lighter;
}

@media screen and (max-width: 768px) {
  .card {
      flex-direction: column;
  }
}
